[submodule "ext/surgical_robotics_challenge"]
	url = https://github.com/collaborative-robotics/surgical_robotics_challenge.git
[submodule "ext/ambf"]
	url = https://github.com/WPI-AIM/ambf.git
[submodule "ext/efficient-dreamer"]
	url = https://github.com/linhongbin/efficient-dreamer.git
